<div class="blog-post">
    <h2>Post 1: Moje pierwsze wpisy</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
</div>

<style>
    .blog-post {
        background-color: white;
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>