---
const {title,content} = Astro.props;
---

<div class="blog-post">
    <h2>{title}</h2>
    <p>{content}</p>
</div>

<style>
    .blog-post {
        background-color: white;
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>