---
import BlogPost from "./BlogPost.astro"
import fetchArticles from "../lib/fetchArticle";
const posts = await fetchArticles();
function stripHTML(content) {
  return content.replace(/<\/?[^>]+(>|$)/g, ''); // Usuwa wszystkie znaczniki HTML
}
---
<td class="content">
    {posts.map((post) => {
      const cleanContent = stripHTML(post.data.content); // Usuwamy znaczniki HTML
      return <BlogPost title={post.data.title1} content={cleanContent}></BlogPost>;
    })}
  </td>

<style>
    .content {
        width: 80%;
        padding-left: 20px;
    }
</style>