---
import BlogPost from "./BlogPost.astro"
import fetchArticles from "../lib/fetchArticle";
const posts = await fetchArticles();
function stripHTML(content:string) {
  return content.replace(/<\/?[^>]+(>|$)/g, ''); 
}
---
<td class="content">
    {posts.map((post) => {
      const cleanContent = stripHTML(post.data?.content); 
      return <BlogPost title={post.data?.title1} content={cleanContent}></BlogPost>;
    })}
  </td>

<style>
    .content {
        width: 80%;
        padding-left: 20px;
    }
</style>