<td class="menu">
    <h3>Menu</h3>
    <a href="#">Strona główna</a>
    <a href="#">O mnie</a>
    <a href="#">Blog</a>
    <a href="#">Kontakt</a>
</td>

<style>
    .menu {
        width: 20%;
        background-color: #2c3e50;
        color: white;
    }
    .menu a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        margin-bottom: 5px;
        background-color: #34495e;
    }
    .menu a:hover {
        background-color: #1abc9c;
    }
</style>