---
import Manu from "../components/Manu.astro"
import Content from "../components/Content.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<table>
			<tr>
				<Manu></Manu>
				<Content></Content>
			</tr>
		</table>
	</body>
</html>

